[flake8]

max-line-length = 88
ignore =
    # Module imported but unused
    F401,
    # Line break occurred before a binary operator
    W503,
    # Whitespace before ':'
    E203,
    # Local variable name is assigned to but never used
    F841,

    #EXTERNAL PLUGINS

    # Name of functions ends with it's first argument name
    FNE008,
    # "and" is not recommended in functions names
    FNE007

class_attributes_order =
    field,
    meta_class,
    nested_class,
    magic_method,
    property_method,
    static_method,
    class_method,
    method,
    private_method

exclude =
    # any path
    __pycache__,
    examples
